body {
	background: url("balls5.png");
	color: #000000;
	font-family:'ZCOOL XiaoWei', serif;
	margin: 0 !important ;
	padding: 0;
	font-size: 1.3em;
}
.wrapper {
	width: 100%;
	height: 100%;
}
header {
	background: url("balls4.png") repeat-x;
}
#topBtn {
	position: fixed;
	bottom: 40px;
	right: 40px;
	font-size: 1.2em;
	width: 50px;
	height: 50px;
	color: #ffffff;
	background-color: #000000;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	display: none;
}
.logo {
	width: 100%;
	font-size: 2em;
	text-align: center;
	padding: 10px 0 20px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Bangers', cursive;
	
}
.logo a {
	text-decoration: none;
	color: #000000;
	
}
.nav {
	width: 100%;
	padding: 10px 0;
	margin: 0;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	border-top: 1px solid #C6FF00;
	border-bottom: 1px solid #C6FF00;
}
ul li {
	display: inline-block;
	padding: 0 30px;
	height: 30px;
	border-right: 1px dashed #C6FF00;
}
ul li:first-child {
	border-left: 1px dashed #C6FF00;
}
ul li:hover {
	background-color:#000000;
	
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 1.2em;
	height: 30px;
	line-height: 125%;
}
ul a {
	color: #ffffff;
	text-decoration: none;
}
ul li:hover a {
	color: #C6FF00;
}
article {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
.joinus {
	width: 72%;
	height:100%;
	background-color: #ffffff;
	color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding: 2%;
}
h1 {
	text-align: center;
	font-size: 2.5em;
	font-family: 'Playfair Display SC', serif;
}
label {
	
}
footer {
	width: 100%;
	height: 100%;
	clear: both;
	background-color: rgba(0,0,0,0.8);
	color: #ffffff;
}
.kontakt {
	width: 50%;
	display: inline-block;
	padding: 0 30px;
}
.kontakt a {
	text-decoration: none;
	color: #ffffff;
}
.friends{
	display: inline-block;
	vertical-align: top;
}
@media all and (max-width: 1100px) {
	body {
		font-size: 1.1em;
	}
}
@media all and (max-width: 1010px) {
	ul li {
		display: block;
		padding: 5px;
		border-bottom: 1px dashed #C6FF00;
		border-left: none;
		border-right: none;
		
	}
	ul li:last-child {
		border-bottom: none;
	}
	ul li:first-child {
		border-left: none;
	}
	ul{
		height: 100%;
	}
	nav {
		width: 100%;
		height: 150px;
	}
	.joinus {
		width: 100%;
		margin: 0;
		padding: 0;
	}
}
@media all and (max-width: 850px){
	.friends {
		padding: 0 30px;
	}
}	